---
import logo from "@/assets/logo.svg";
import { Image } from "astro:assets";
---

<div class="flex flex-col gap-4 p-4">
  <a href="/">
    <h1 class="text-2xl font-bold flex items-center gap-2">
        <Image class="inline-block" src={logo} alt="logo" width={40} height={40}/>
        Shire Run
    </h1>
  </a>
<div class="flex flex-col gap-4">
