---
import Layout from "../layouts/Layout.astro";
import Card from "../components/ui/Card.astro";
---

<Layout title="Shire Run - Streamline your coding agent with Shire">
  <main class="block pt-[100px]">
    <svg
      class="astro-a"
      width="800"
      height="588"
      viewBox="0 0 800 588"
      fill="#ffffff"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <g>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M727.407458,354.281205 L638.316177,330.636785 C627.114323,327.614084 613.309701,333.682664 608.200968,344.06374 L592.66344,375.073352 C585.48231,389.611494 585.362329,389.611494 585.362329,391.77115 C585.362329,398.315563 587.200218,398.814575 605.22735,403.658804 L658.940623,418.059241 C662.977708,419.139069 666.628945,423.926034 666.628945,428.091281 L666.628945,495.697798 C666.628945,506.205672 670.706933,515.61872 678.136206,523.049356 C685.583203,530.488172 695.46254,534.1067 705.955416,534.1067 L705.971777,534.1067 C727.770127,534.123049 749.151271,517.425251 749.151271,495.714159 L749.151271,380.262526 C749.151271,368.689822 738.57659,357.271184 727.407458,354.281205 Z M661.051196,410.096871 L607.306565,395.696435 C599.682323,393.649942 593.493762,391.892494 593.493762,391.77115 C593.493762,391.641625 596.329675,385.799373 599.828209,378.716409 L615.132593,347.723158 C618.203013,341.501875 625.536846,337.609312 632.442566,338.132865 C625.70591,337.980162 618.52478,341.767741 615.592065,347.723158 L600.054537,378.716409 C596.558729,385.799373 593.606926,391.641625 593.606926,391.77115 C593.606926,391.892494 599.739587,393.649942 607.363828,395.696435 L661.083918,410.096871 C668.716341,412.127003 674.88036,420.194355 674.88036,428.091281 C674.88036,420.194355 668.682255,412.127003 661.051196,410.096871 Z M732.645715,495.714159 C732.645715,508.317609 720.477197,518.58552 707.768764,518.58552 C701.683823,518.58552 695.03579,516.199536 690.723294,511.880224 C686.395801,507.543186 683.133138,501.805917 683.133138,495.714159 L683.133138,428.099461 C683.133138,416.543118 674.364987,405.131297 663.186311,402.134501 L609.451224,387.725885 C607.951462,387.322312 606.517145,386.936465 605.163269,386.564251 C605.808167,385.259459 606.499421,383.841502 607.226123,382.374463 L622.522326,351.381212 C624.22251,347.946758 629.365328,345.586679 633.127003,346.577885 L723.112687,370.222306 C727.157952,371.303497 732.645715,376.090463 732.645715,380.255709 L732.645715,495.714159 Z" id="Shape"
          fill="url(#paint0_linear_1805_24383)"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M775.647965,109.276092 L695.672507,56.1000068 C689.902516,52.2592542 680.852137,44.9513259 675.912468,40.1316381 L671.86584,36.1872657 C667.070693,31.5052833 662.565955,25.2430977 661.712455,23.3943009 L658.215284,15.4237508 C652.243507,1.82364169 642.251006,0.35387552 638.230282,0.35387552 C630.61422,0.35387552 621.281614,5.22537324 617.905788,18.889563 L610.50651,48.8875179 C600.84532,45.575772 589.095371,42.9770946 575.911105,42.9770946 C558.672029,42.9770946 541.861068,47.4095712 525.952689,56.1572704 C523.988002,57.2370986 522.53596,59.0858954 521.955143,61.2578226 C521.013021,64.7399959 498.020315,146.650147 418.57659,146.658327 C418.56841,146.658327 418.56841,146.658327 418.56841,146.658327 C413.426955,146.658327 408.085077,146.312019 402.668212,145.618038 C386.763924,143.596087 369.503034,142.563978 351.362738,142.563978 C277.736724,142.563978 190.829641,159.616266 162.668212,197.714295 C158.41707,203.461108 155.67796,209.60604 154.332265,215.988206 C133.084737,223.571545 105.37869,236.772173 88.5118277,257.898357 C77.7367237,271.385302 65.0364715,284.489127 45.2028086,289.033404 C37.1518168,290.882201 31.5467994,297.055764 30.9114459,304.752267 C30.2788193,312.44877 34.7753766,319.436294 42.3668962,322.562615 C46.3603518,324.213716 50.4056173,325.462608 54.5313246,326.292931 C53.9191492,326.800123 53.0451974,327.001909 51.1473175,327.001909 C49.6693708,327.001909 47.879201,326.832845 45.5177585,326.461995 C44.4065717,326.292931 43.3662826,326.219306 42.3996182,326.219306 C35.6902311,326.219306 29.7593565,329.588315 26.5307792,335.245143 C23.2872043,340.936056 23.4439975,347.856773 26.9343514,353.748108 C30.4233417,359.647624 34.7072057,363.901493 39.7845797,367.076897 C36.7059786,365.255368 33.0915536,362.733042 28.9085827,359.26723 C24.4079351,355.545095 19.9550072,354.770673 17.012748,354.770673 C11.4759016,354.770673 6.27854659,357.453882 3.1113232,361.974981 C-0.216783694,366.706047 -0.910764197,372.781444 1.2052628,378.664599 C11.1377735,406.160679 41.3102461,426.099325 72.9565751,426.099325 C88.0346309,426.099325 101.936056,421.601404 113.14609,413.09094 C121.446588,406.790579 128.566364,396.684914 132.685255,385.345354 C137.274525,372.748722 141.327971,359.902584 145.236894,347.476379 C148.423205,337.387075 151.715863,326.958279 155.221215,316.924876 C157.889427,309.244734 161.627923,300.944236 166.923444,290.968096 L168.33731,373.926716 C168.551367,385.701207 173.93142,400.633377 181.119367,409.458791 L204.009817,437.68839 C204.638353,438.461449 205.238258,439.203149 205.827255,439.913491 C205.324153,440.74245 204.811507,441.605495 204.275683,442.483537 L169.631195,500.04847 C163.154953,510.734951 161.10028,523.346581 163.880292,535.508283 C166.701207,547.854046 174.13457,558.2024 184.816961,564.665008 C191.936737,568.984321 200.148613,571.274865 208.541823,571.274865 C225.001023,571.274865 240.575363,562.449451 249.18263,548.241257 L308.499557,450.334106 L346.146295,476.888063 C351.130956,480.401595 356.981389,488.606653 358.689754,494.432545 L377.644011,559.32313 C382.503238,576.011385 398.044857,587.680892 415.416184,587.680892 C415.416184,587.680892 415.416184,587.680892 415.424364,587.680892 C419.146499,587.680892 422.861817,587.149158 426.457155,586.102052 C433.500579,584.039198 439.415093,580.090736 444.097075,575.093803 C450.310178,574.860659 456.346036,573.467244 462.043766,570.856296 L567.043425,522.809394 C580.590361,516.61947 589.655737,500.760175 588.165519,485.947986 L579.638694,401.732293 C579.139682,396.930329 580.766242,387.983571 582.90272,383.656077 L678.722476,189.768287 C679.044243,189.296544 680.430841,188.531665 681.293885,188.531665 L742.090122,200.10028 C745.055559,200.651101 748.045538,200.925148 750.994614,200.925148 C768.675438,200.925148 784.995569,191.367578 793.609653,175.995024 C806.867544,152.789624 798.832913,122.932102 775.647965,109.276092 Z M175.92883,207.525462 C199.447815,175.720976 281.987866,159.068171 351.354557,159.068171 C368.800873,159.068171 385.362329,160.051196 400.58218,161.994069 C406.683482,162.767128 412.726157,163.16252 418.561592,163.16252 L418.569773,163.16252 C500.593087,163.154339 530.886904,86.7251346 536.776876,69.1029382 C549.357148,62.724862 562.500511,59.4894676 575.902925,59.4894676 C586.041312,59.4894676 595.219851,61.3559888 602.979072,63.8292317 C602.358716,64.6541005 601.73836,65.5294158 601.150726,66.1334106 L484.609721,189.337446 C481.330697,192.762356 475.068512,195.93367 472.587088,196.2568 C465.80953,195.82596 422.300089,193.234099 367.91874,193.234099 C291.624514,193.234099 229.528939,198.061967 183.363556,207.594996 C182.110573,207.856773 178.99107,208.526212 174.574954,209.689209 C175.037153,208.97205 175.408003,208.24262 175.92883,207.525462 Z M304.861954,437.689754 L304.736519,437.601132 C305.058286,435.46738 305.099189,433.289999 304.893312,431.130343 C305.082828,433.201377 305.074647,435.635081 304.861954,437.689754 Z M304.144795,427.618174 C304.455655,428.29443 304.6888,429.357898 304.837412,430.66269 C304.721522,429.630581 304.38203,428.632558 304.144795,427.618174 Z M303.971641,426.842389 C303.761674,426.036608 303.705774,425.199468 303.423546,424.425046 L312.469834,424.44277 C312.651169,425.296271 312.768423,426.167496 312.888404,427.045538 C312.768423,426.85875 312.626628,426.843752 312.461654,426.843752 L303.971641,426.843752 L303.971641,426.842389 Z M305.941782,410.338196 L480.628536,410.338196 L485.755038,454.953371 C485.763174,455.775513 484.650624,456.709455 483.836662,457.113027 C469.959779,463.472016 448.176426,473.182289 434.62131,479.209967 L424.668348,448.425319 C421.397505,438.255573 411.145954,428.440316 400.84123,425.59486 L381.754721,420.317063 C373.429682,418.027882 360.140432,417.415707 351.485445,417.407526 L309.632558,418.590974 L309.273979,418.590974 C308.327766,410.338196 307.194764,411.949758 305.941782,410.338196 Z M415.417547,571.19306 L415.417547,571.19306 C405.320063,571.19306 396.305133,564.423683 393.481492,554.72159 L374.527234,489.816007 C371.779944,480.417956 363.677142,469.07158 355.661599,463.422933 L312.587088,433.588588 C312.587088,433.693571 311.777217,433.806735 311.777217,433.910355 C311.777217,433.790374 311.777217,433.67721 311.777217,433.564047 L312.587088,433.588588 C312.603449,433.289999 312.164428,432.984593 312.172609,432.694185 L350.701479,432.711909 C357.858068,432.728271 370.102938,434.338469 376.977299,436.241802 L396.254687,441.511419 C401.231168,442.881655 407.295658,448.602563 408.874497,453.510873 L419.511896,486.269753 C409.373509,491.734338 401.552935,500.22026 397.503579,511.090804 C393.072466,522.986638 393.551026,535.800055 398.828823,547.348217 C403.518986,557.614766 411.66269,565.601677 421.469766,570.357284 C419.485991,570.887654 417.455859,571.19306 415.417547,571.19306 Z M779.186039,167.941305 C773.261981,178.514623 762.229191,184.437317 750.9728,184.437317 C749.029927,184.437317 747.080237,184.264163 745.153726,183.901493 L684.283864,172.324698 C683.292658,172.131093 682.285091,172.042471 681.270707,172.042471 C674.291363,172.042471 666.96571,176.293612 663.91165,182.467176 L568.085077,376.346786 C564.587906,383.439294 562.402345,395.543732 563.193128,403.409299 L571.71859,487.624991 C572.516191,495.474197 567.343377,504.517759 560.162247,507.804963 L455.162588,555.836867 C454.744018,556.022292 454.299543,556.09319 453.874156,556.263617 C450.931897,557.447065 447.926921,558.109687 444.90422,558.357829 C444.042539,558.431454 443.187675,558.623696 442.32463,558.623696 C440.230418,558.623696 438.174381,558.341468 436.136069,557.929716 C426.667121,555.996387 418.155293,549.781921 413.852342,540.347058 C407.470175,526.396551 412.347127,510.255028 424.612448,501.889086 C426.061763,500.89788 427.561524,499.955757 429.222169,499.197696 C429.222169,499.197696 430.285636,498.715045 432.002181,497.93926 C433.815529,497.117118 436.370577,495.958211 439.560979,494.506169 C452.915673,488.429409 476.172882,477.865635 490.711023,471.216238 C497.892154,467.927671 503.017247,459.177245 502.162383,451.326675 L496.858682,405.1163 C495.997,397.267094 488.904492,393.835367 481.007567,393.835367 L276.232872,393.835367 C268.334583,393.835367 266.380803,395.51101 271.852205,401.200559 L290.379712,418.590974 L291.931284,420.041652 C293.381962,421.556411 294.506783,423.346581 295.320744,425.27991 C296.211057,427.375486 296.690981,429.630581 296.815052,431.921126 C296.980026,435.016088 296.396482,438.109687 295.050787,440.866521 C294.846274,441.286454 294.667667,441.737746 294.430432,442.139955 L235.057604,539.927125 C229.17445,549.645579 218.89154,554.892017 208.524098,554.892017 C203.302202,554.892017 198.055764,553.474061 193.341059,550.612244 C179.25421,542.086782 174.922626,523.197969 183.758947,508.60938 L218.395255,451.036267 C222.473243,444.266889 225.789079,438.690504 225.789079,438.593701 C225.789079,438.496898 221.803804,433.437249 216.812325,427.319586 L193.891881,399.057264 C188.907219,392.932783 184.962847,381.570046 184.818324,373.671757 L183.149499,275.840957 C183.149499,275.840957 182.251006,262.205399 181.828345,254.780217 C170.19156,263.669712 160.850774,267.408208 153.714636,280.645647 C148.346854,290.586339 143.322653,300.861068 139.619606,311.498466 C131.729498,334.103961 125.343241,357.241189 117.147726,379.715795 C114.415434,387.243234 109.407594,395.205604 103.141318,399.961211 C94.3977095,406.601063 83.7603109,409.599223 72.9320335,409.599223 C49.3039744,409.599223 24.7283387,395.286045 16.7100689,373.067762 C16.2874088,371.900675 16.4442021,371.278956 16.9882064,371.278956 C17.3099734,371.278956 17.7817165,371.495739 18.3502625,371.979753 C31.4895358,382.874838 43.0186107,388.308065 52.728884,388.308065 C64.4379303,388.308065 73.50876,380.409776 79.5405276,364.662281 C80.2495058,362.824392 79.1533165,361.084668 77.207717,360.79426 C54.1073011,357.410253 46.406708,354.29893 41.1207308,345.337174 C40.2181471,343.822415 40.8466835,342.734406 42.3818938,342.734406 C42.5632286,342.734406 42.759561,342.750767 42.9654373,342.783489 C45.7427227,343.208876 48.4818324,343.515645 51.1214125,343.515645 C58.0762151,343.515645 64.4229327,341.437794 69.2657986,334.168041 C74.2777285,326.640603 79.1301384,319.017724 83.767128,311.820233 C84.6738019,310.402277 84.3029518,309.460154 82.9490763,309.460154 C82.7350194,309.460154 82.4691526,309.484696 82.200559,309.540596 C77.6508283,310.426818 72.8802236,311.112618 67.8710205,311.112618 C61.8392528,311.112618 55.4366351,310.120049 48.6263549,307.308678 C46.796646,306.558797 46.9534392,305.567592 48.8676801,305.12448 C72.5080101,299.707615 88.0823505,284.868157 101.383871,268.205808 C114.390892,251.914309 135.997,240.768355 154.217738,233.705842 C156.94594,232.646465 159.556889,231.698889 162.095576,230.824937 C166.00859,229.471061 169.623015,228.314882 172.833867,227.376849 C180.888949,225.007226 186.333083,223.842866 186.687572,223.769241 C240.838503,212.596019 310.777831,209.756016 367.907833,209.756016 C426.998432,209.756016 472.394846,212.793715 472.394846,212.793715 C480.291772,212.793715 491.122776,206.391097 496.595542,200.685186 L613.045197,77.5615925 C614.898084,75.6309905 616.793237,73.0977572 618.582044,70.3163815 C620.049083,68.0312905 621.443861,65.5907697 622.651851,63.1120731 C623.948463,60.4656759 625.005113,57.8424569 625.769991,55.4087532 C625.988138,54.7161361 626.213102,54.0112482 626.373986,53.3622605 L633.908242,22.85166 C634.88445,18.8745654 636.47147,16.8594315 638.203013,16.8594315 C639.807758,16.8594315 641.555662,18.5841571 643.078601,22.0608767 L646.583953,30.0396073 C648.518645,34.4475424 654.675847,42.4903538 660.324494,48.0026587 L664.361579,51.9388506 C670.018406,57.4511555 679.931829,65.4653351 686.515782,69.8419115 L766.894812,123.287954 C782.473243,132.199264 788.13007,152.302884 779.186039,167.941305 Z"
          fill="url(#paint0_linear_1805_24383)"></path>
      </g>
      <defs>
        <linearGradient
          id="paint0_linear_1805_24383"
          x1="800"
          y1="300"
          x2="0"
          y2="200"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-opacity="0.8" stop-color="#ffffff"></stop>
          <stop offset="1" stop-opacity="0.0" stop-color="#000000"></stop>
        </linearGradient>
      </defs>
    </svg>
    <h1><span class="text-gradient">Shire Run</span></h1>
    <p class="instructions">
      <strong>Shire 加速您的编码智能体构建之旅。 </strong>
      <br />
      汲取社区的智慧，简化您的 AI 任务指令与自动化流程。
    </p>

    <ul role="list" class="link-card-grid">
      <Card
        href="/marketplace#packages"
        title="Shire Package"
        body="选择经过验证的 Shire AI 指令包，包罗万象，每一步都是惊喜。"
      />
      <Card
        href="/marketplace#snippets"
        title="Shire Snippet"
        body="探索社区精心打造的 Shire AI 任务指令，灵感随手可得，效率倍增。"
      />
      <Card
        href="/marketplace#usecases"
        title="Shire Usecase"
        body="了解 Shire AI 如何在现实中大展拳脚，实例和应用场景一览无余。"
      />
      <Card href="#" title="Shire Playground" body="玩出新可能，自动化乐趣，敬请期待" />
    </ul>
    <div class="install">
      <h2>安装 Shire</h2>
      <iframe width="245px" height="48px" src="https://plugins.jetbrains.com/embeddable/install/24549"></iframe>
    </div>
  </main>
</Layout>

<style>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translatex(-50%);
    width: 240px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .install {
    margin: 2rem 0;
    padding: 1.5rem;
    background: linear-gradient(
      rgba(var(--accent-light), 66%),
      rgba(var(--accent-light), 33%)
    );
    border-radius: 8px;
  }
  .install h2 {
    padding: 0 0 1rem;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
