---
import Layout from "../layouts/Layout.astro";
import Card from "../components/ui/Card.astro";
import ShireBranding from "../components/ui/ShireBranding.astro";

import { Image, getImage } from "astro:assets";
import bg from "@/assets/button-install.png";
const bgImage = await getImage({ src: bg })
---

<Layout title="Shire Run - Streamline your coding agent with Shire">
  <main class="block relative pt-[100px]">
    <ShireBranding />

    <h1><span class="text-gradient">Shire Run</span></h1>
    <p class="instructions">
      <strong>Shire 加速您的编码智能体构建之旅。 </strong>
      <br />
      汲取社区的智慧，简化您的 AI 任务指令与自动化流程。
    </p>

    <ul role="list" class="link-card-grid">
      <Card
        href="/marketplace#packages"
        title="Shire Package"
        body="选择经过验证的 Shire AI 指令包，包罗万象，每一步都是惊喜。"
      />
      <Card
        href="/marketplace#snippets"
        title="Shire Snippet"
        body="探索社区精心打造的 Shire AI 任务指令，灵感随手可得，效率倍增。"
      />
      <Card
        href="/marketplace#usecases"
        title="Shire Usecase"
        body="了解 Shire AI 如何在现实中大展拳脚，实例和应用场景一览无余。"
      />
      <Card
        href="#"
        title="Shire Playground"
        body="玩出新可能，自动化乐趣，敬请期待"
      />
    </ul>
    <div class="install" style={`background-image: url('${bgImage.src}')`}>
      <h2>
        <a href="https://plugins.jetbrains.com/plugin/24549-shire--ai-coding-agent-language" target="_blank">
          安装 Shire
        </a>
      </h2>
    </div>
  </main>
</Layout>

<style>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    font-family: 'JetBrains Mono', 'Fira Code', 'Courier New', Courier, monospace;
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .install {
    margin: 1rem 0;
    border-radius: 4rem;
    background: #000 no-repeat right;
  }
  .install h2 {
    height: 4rem;
    line-height: 4rem;
    text-align: center;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
