---
interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<section id={title.toLowerCase()} class="w-[1600px] mx-auto mt-10">
  <a class="text-2xl p-4 pl-0 inline-block" href={`#${title.toLowerCase()}`}
    >{title}</a
  >
  <slot />
</section>
